
.Header {
  margin-top: 0rem;
  padding: 1rem;
  text-align: center;
  background-color: #6c757d;
  color: #fff;
  font-size: 3rem;
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.Container {
  width: 100%;
}

.Container-fluid {
  width: 100%;
}
